$primary-palette: (
  50 : #f9ede6,
  100 : #f0d1c1,
  200 : #e6b298,
  300 : #dc936e,
  400 : #d57c4f,
  500 : #cd6530,
  600 : #c85d2b,
  700 : #c15324,
  800 : #ba491e,
  900 : #ae3713,
  A100 : #F8F9FB,
  A200 : #ffbdad,
  A400 : #ff947a,
  A700 : #ff8060,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

/* For use in src/lib/core/theming/_palette.scss */
$warn-palette: (
  50 : #e7e3e3,
  100 : #c3b9ba,
  200 : #9b8b8c,
  300 : #725c5e,
  400 : #54393c,
  500 : #361619,
  600 : #301316,
  700 : #291012,
  800 : #220c0e,
  900 : #160608,
  A100 : #ff5767,
  A200 : #ff2439,
  A400 : #f00017,
  A700 : #d60015,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);

/* For use in src/lib/core/theming/_palette.scss */
$accent-palette: (
  50 : #ffffff,
  100 : #ffffff,
  200 : #ffffff,
  300 : #ffffff,
  400 : #ffffff,
  500 : #ffffff,
  600 : #ffffff,
  700 : #ffffff,
  800 : #ffffff,
  900 : #ffffff,
  A100 : #ffffff,
  A200 : #ffffff,
  A400 : #ffffff,
  A700 : #ffffff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);


